@import "tailwindcss";

:root {
  color-scheme: dark;
  font-family: "Manrope Variable", sans-serif;
  background: #0a0910;
  color: #f7f5ff;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
}

body {
  min-height: 100vh;
  margin: 0;
}

a {
  color: inherit;
}
